<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>10403786050-mcnbmbm4j7g2a66e0ans8l0f4o27uppf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10403786050-mcnbmbm4j7g2a66e0ans8l0f4o27uppf</string>
	<key>API_KEY</key>
	<string>AIzaSyDESHwed1qGNK1YxRBw-u-JmwRPmu13-kk</string>
	<key>GCM_SENDER_ID</key>
	<string>10403786050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.comtech.PicNRoll</string>
	<key>PROJECT_ID</key>
	<string>androidpicnroll</string>
	<key>STORAGE_BUCKET</key>
	<string>androidpicnroll.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10403786050:ios:bbbf28eea25dd5e9</string>
	<key>DATABASE_URL</key>
	<string>https://androidpicnroll.firebaseio.com</string>
</dict>
</plist>